newMyWork/myBD/__pycache__/__init__.cpython-314.pyc
newMyWork/myBD/__pycache__/endineBd.cpython-314.pyc
newMyWork/myBD/__pycache__/models.cpython-314.pyc
MyNewWork/myBd/__pycache__/__init__.cpython-314.pyc
MyNewWork/myBd/__pycache__/engine.cpython-314.pyc
MyNewWork/myBd/__pycache__/fastmodel.cpython-314.pyc
