newMyWork/myBD/__pycache__/__init__.cpython-314.pyc
newMyWork/myBD/__pycache__/endineBd.cpython-314.pyc
newMyWork/myBD/__pycache__/models.cpython-314.pyc
MyNewWorkGia/__pycache__/backend.cpython-314.pyc
MyNewWorkGia/__pycache__/changeClient.cpython-314.pyc
MyNewWorkGia/__pycache__/myMenu.cpython-314.pyc
MyNewWorkGia/my_bd_connect/__pycache__/__init__.cpython-314.pyc
MyNewWorkGia/my_bd_connect/__pycache__/engine.cpython-314.pyc
MyNewWorkGia/my_bd_connect/__pycache__/my_models.cpython-314.pyc
