newMyWork/myBD/__pycache__/__init__.cpython-314.pyc
newMyWork/myBD/__pycache__/endineBd.cpython-314.pyc
newMyWork/myBD/__pycache__/models.cpython-314.pyc
MyNewWork/myBd/__pycache__/__init__.cpython-314.pyc
MyNewWork/myBd/__pycache__/engine.cpython-314.pyc
MyNewWork/myBd/__pycache__/fastmodel.cpython-314.pyc
MyNewWork/__pycache__/backendbisnesLogic.cpython-314.pyc
forRasberrypi/backend/bisnesLogic/__pycache__/bisnes.cpython-314.pyc
forRasberrypi/backend/bisnesLogic/__pycache__/__init__.cpython-314.pyc
forRasberrypi/backend/bd/__pycache__/models.cpython-314.pyc
forRasberrypi/backend/bd/__pycache__/__init__.cpython-314.pyc
cuteSocialBlog/bdforApp/__pycache__/__init__.cpython-314.pyc
cuteSocialBlog/bdforApp/__pycache__/models.cpython-314.pyc
cuteSocialBlog/bisnesLogic/__pycache__/tool.cpython-314.pyc
test_5_Hors/database/__pycache__/__init__.cpython-314.pyc
test_5_Hors/database/__pycache__/model.cpython-314.pyc
